<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.swineson.workflow.ihdulogin</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>D866DA1D-5E55-49F2-AF16-AB9C87C22355</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35F90864-33DC-4D11-B1DD-07FF8E10A13B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>James Swineson</string>
	<key>description</key>
	<string>Login to i-HDU with a command!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>i-HDU Auto Login</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hdu</string>
				<key>text</key>
				<string>i-HDU Wi-Fi Auto Login</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D866DA1D-5E55-49F2-AF16-AB9C87C22355</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source ~/.bash_profile
/usr/bin/env bash ./wifi.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>35F90864-33DC-4D11-B1DD-07FF8E10A13B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>35F90864-33DC-4D11-B1DD-07FF8E10A13B</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>D866DA1D-5E55-49F2-AF16-AB9C87C22355</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/Jamesits/i-HDU-Auto-Login-Alfred-Workflow</string>
</dict>
</plist>
